/**
 * Ukraine Alert API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 3.0
 * Contact: support@stfalcon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.RegionsViewModel

import UkraineAlarm.infrastructure.*

class RegionsApi(basePath: kotlin.String = "/") : ApiClient(basePath) {

    /**
     * Повертає список усіх областей, регіонів та міст
     * 
     * @return RegionsViewModel
     */
    @Suppress("UNCHECKED_CAST")
    fun apiV3RegionsGet(): RegionsViewModel {
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/api/v3/regions"
        )
        val response = request<RegionsViewModel>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as RegionsViewModel
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
